<!-- 顶部区域 -->
<div class="layui-header header header-demo">
    <div class="layui-main">
        <!-- logo区域 -->
        <div class="admin-logo-box">
            <a class="logo" href="http://www.kuxuebao.net" title="logo">后台管理系统</a>
            <div class="larry-side-menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </div>
        <!-- 顶部右侧菜单 -->
        <ul class="layui-nav top_menu">

            <li class="layui-nav-item" id="userInfo">
                <a href="javascript:;"><div style="width:35px;height: 35px;float: left; ">&nbsp;</div>
                   <cite class="adminName">{{ username }}</cite></a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-url="page/user/userInfo.html"><i class="seraph icon-ziliao"
                                                                                     data-icon="icon-ziliao"></i><cite>个人资料</cite></a>
                    </dd>
                    <dd><a href="javascript:;" data-url="page/user/changePwd.html"><i class="seraph icon-xiugai"
                                                                                      data-icon="icon-xiugai"></i><cite>修改密码</cite></a>
                    </dd>
                    <dd><a href="javascript:;" class="showNotice"><i
                            class="layui-icon">&#xe645;</i><cite>系统公告</cite><span class="layui-badge-dot"></span></a>
                    </dd>
                    <dd pc><a href="javascript:;" class="functionSetting"><i
                            class="layui-icon">&#xe620;</i><cite>功能设定</cite><span class="layui-badge-dot"></span></a>
                    </dd>
                    <dd pc><a href="javascript:;" class="changeSkin"><i class="layui-icon">&#xe61b;</i><cite>更换皮肤</cite></a>
                    </dd>
                    <dd><a href="/admin/loginout/" class="signOut"><i
                            class="seraph icon-tuichu"></i><cite>退出</cite></a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>