{% extends 'admin/view.html' %}
{% block mainbody %}
<!-- 右侧主体内容 -->
	<div class="layui-body" id="larry-body" style="bottom: 0;border-left: solid 2px #2299ee;">
		<div class="layui-tab layui-tab-card larry-tab-box" id="larry-tab" lay-filter="demo" lay-allowclose="true">
			<div class="go-left key-press pressKey" id="titleLeft" title="滚动至最右侧"><i class="larry-icon larry-weibiaoti6-copy"></i> </div>
			<ul class="layui-tab-title">
				<li class="layui-this" id="admin-home"><i class="iconfont icon-diannao1"></i><em>后台首页</em></li>
			</ul>
			<div class="go-right key-press pressKey" id="titleRight" title="滚动至最左侧"><i class="larry-icon larry-right"></i></div>
			<div class="layui-tab-content" style="min-height: 150px; height: 478px;">
				<div class="layui-tab-item layui-show">
					<iframe class="larry-iframe" data-id='0' src="/admin/main/"></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}